{{ define "user/list.tmpl"}}
{{ template "global/header.tmpl" .}}

<a class="btn btn-primary" href="/auth/crud/user/create" role="button">{{ tr "Add" }}</a>
<div class="table-responsive">
<table class="table table-striped table-hover">
 <thead>
 <tr>
     <th scope="col">{{ tr "Login" }}</th>
     <th scope="col">{{ tr "Groups" }}</th>
     <th scope="col">{{ tr "Name" }}</th>
     <th scope="col">{{ tr "Mail" }}</th>
     <th scope="col">{{ tr "Enabled" }}</th>
     <th scope="col"></th>
 </tr>
 </thead>
 <tbody>
  {{ range .userdata }}
  <tr {{ if .Disabled }}class="table-warning"{{end}}>
        <td>{{ .Name }}</td>
	<td><strong> {{ (index $.hashgroups .PrimaryGroup) }}
            {{ if eq (index $.hashgroups .PrimaryGroup) $.groupsinfo.Admins }} <i class="bi-star-fill text-warning"></i> {{end}}
            {{ if eq (index $.hashgroups .PrimaryGroup) $.groupsinfo.Users }} <i class="bi-person"></i> {{end}}
            {{ if eq (index $.hashgroups .PrimaryGroup) $.groupsinfo.OTP }} <i class="bi-key"></i> {{end}}
            </strong>
	    <br />
            {{range .OtherGroups}}
                {{ (index $.hashgroups .) }}
                {{ if eq (index $.hashgroups .) $.groupsinfo.Admins }} <i class="bi-star-fill text-warning"></i> {{end}}
                {{ if eq (index $.hashgroups .) $.groupsinfo.Users }} <i class="bi-person"></i> {{end}}
                {{ if eq (index $.hashgroups .) $.groupsinfo.OTP }} <i class="bi-key"></i> {{end}}
            {{end}}
        </td>
        <td>{{ .GivenName }} {{.SN}}</td>
        <td>{{ .Mail }}</td>
        <td>
          {{ if .Disabled }} <strong>{{ tr "No" }}</strong> {{else}} {{ tr "Yes" }} {{end}}
          {{ with .OTPSecret }} <i class="bi-key-fill"></i>  {{end}}
        </td>
        <td><a class="nav-link" href="/auth/crud/user/{{ .UIDNumber }}">{{ tr "Edit" }}</a></td>
  </tr>
  {{ end }}
 </tbody>
</table>
</div>

<p>
<figcaption class="blockquote-footer">
{{ tr "Special groups" }}:
{{ tr "Admins" }} <i class="bi-star-fill text-warning"></i>,
{{ tr "Users" }} <i class="bi-person"></i>,
{{ tr "Can use OTP" }} <i class="bi-key"></i>
</figcaption>
</p>

{{ template "global/footer.tmpl" .}}
{{ end }}
