{{ define "group/list.tmpl"}}
{{ template "global/header.tmpl" .}}

<a class="btn btn-primary" href="/auth/crud/group/create" role="button">{{ tr "Add" }}</a>
<table class="table table-striped table-hover">
 <thead>
 <tr>
     <th scope="col">{{ tr "Name" }}</th>
     <th scope="col"></th>
 </tr>
 </thead>
 <tbody>
  {{ range .groupdata }}
  <tr>
        <td>{{ .Name }}</td>
        <td><a class="nav-link" href="/auth/crud/group/{{ .GIDNumber }}">{{ tr "Edit" }}</a></td>
  </tr>
  {{ end }}
 </tbody>
</table>

{{ template "global/footer.tmpl" .}}
{{ end }}
