{{ define "group/list.tmpl"}}
{{ template "global/header.tmpl" .}}

<a class="btn btn-primary" href="/auth/crud/group/create" role="button">{{ tr "Add" }}</a>
<table class="table table-striped table-hover">
 <thead>
 <tr>
     <th scope="col">{{ tr "Name" }}</th>
     <th scope="col"></th>
 </tr>
 </thead>
 <tbody>
  {{ range .groupdata }}
  <tr>
        <td>{{ .Name }} {{ if eq .Name $.groupsinfo.Admins}} &#11088; {{ end }}</td>
        <td><a class="nav-link" href="/auth/crud/group/{{ .GIDNumber }}">{{ tr "Edit" }}</a></td>
  </tr>
  {{ end }}
 </tbody>
</table>

<p>
<figcaption class="blockquote-footer">
{{ tr "Special groups" }}:
{{ tr "Admins" }} : <strong>«{{ .groupsinfo.Admins }}» &#11088;</strong>,
{{ tr "Users" }} : «{{ .groupsinfo.Users }}»,
{{ tr "Can use OTP" }} : «{{ .groupsinfo.OTP }}»
</figcaption>
</p>

{{ template "global/footer.tmpl" .}}
{{ end }}
