{{ define "home/login.tmpl"}}
{{ template "global/header.tmpl" .}}

<div class="col-sm-6 col-sm-offset-3 form-box">

  <div class="form-top">

    <div class="form-top-left">
      <h3>{{ tr "Connection"  }}</h3>
    </div>

  </div>

  <div class="form-bottom">

    <form role="form" action="" method="post" class="login-form">
    {{ if .otp }}
      <div class="mb-3">
        <input id="code" name="code" required placeholder={{ tr "Code" }} type="text" value="" size="6" autocomplete="off" pattern="\d{6}"/>
      </div>
      <button type="submit" class="btn btn-primary">{{ tr "Submit" }}</button>
    {{ else }}
      <div class="mb-3">
        <label for="form-username">{{ tr "Login" }} </label>
        <input name="username" placeholder="{{ tr "Username" }}..." class="form-username form-control" id="form-username" type="text" required>
      </div>
      <div class="mb-3">
        <label for="form-password">{{ tr "Password" }}</label>
        <input name="password" placeholder="{{ tr "Password" }}..." class="form-password form-control" id="form-password" type="password" required>
      </div>
      <button type="submit" class="btn btn-primary">{{ tr "Connect" }}</button>
    {{ end }}
    </form>

  </div>

</div>

{{ template "global/footer.tmpl" .}}
{{ end }}

