{{ define "global/footer.tmpl" }}
  </div>
</main>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container d-flex flex-column flex-sm-row justify-content-between">
    <span>
      {{ .appname }}  
    </span>
    <span class="text-muted">
      {{ .version }}	 
    </span>
  </div>
</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js -->
    <script src="/js/jquery.min.js" integrity ="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
{{ end }}
