{{ define "global/footer.tmpl" }}
<footer>
<br/><br />
<figure class="text-end">
  <blockquote class="blockquote">
        {{ .appname }}  
  </blockquote>
  <figcaption class="blockquote-footer">
	{{ .version }}	 
  </figcaption>
</figure>
	<p>
	</p>
</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js -->
    <script src="/js/jquery.min.js" integrity ="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
{{ end }}
